*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=1600") center center/cover no-repeat;
    height:100vh;
}

.overlay{
    background:rgba(0,0,0,.75);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{

    width:400px;

    background:rgba(20,20,20,.92);

    padding:40px;

    border-radius:12px;

    text-align:center;

    color:white;

    box-shadow:0 0 20px rgba(0,0,0,.6);
}

.login-box h1{

    color:#E50914;

    margin-bottom:10px;

}

.login-box h2{

    margin-bottom:30px;

}

.login-box input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:none;

    border-radius:6px;

    font-size:16px;
}

.login-box button{

    width:100%;

    padding:15px;

    background:#E50914;

    color:white;

    border:none;

    border-radius:6px;

    font-size:18px;

    cursor:pointer;
}

.login-box button:hover{

    background:#b20710;
}

.login-box p{

    margin-top:20px;

}

.login-box a{

    color:#E50914;

    text-decoration:none;

    font-weight:bold;
}