<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Movie Recommendation</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

<div class="overlay">

    <div class="login-box">

        <h1>🎬 Movie Recommendation</h1>

        <h2>Login</h2>

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </p>

    </div>

</div>

</body>
</html>